.Recipe-title, .Recipe-subtitle, .Recipe-summary,
.Recipe p {
  padding: 3px;
  border-bottom: 2px solid transparent;
  transition: all .2s; }

.Recipe-title:focus, .Recipe-subtitle:focus, .Recipe-summary:focus,
.Recipe p:focus {
  outline: none;
  background-color: #fff;
  border-bottom: 2px solid #79BD8F;
  box-shadow: 0 1px 4px 0 #333;
  border-radius: 3px;
  padding: 7px; }

.Recipe {
  width: 100%;
  text-align: left; }

.Recipe-title {
  font-size: 1.8rem; }

.Recipe-image {
  max-width: 100%; }

.Recipe-summary {
  max-width: 700px;
  margin-bottom: 50px; }

.Recipe-subtitle {
  font-size: 1.4rem;
  margin-top: 0;
  margin-bottom: 20px; }

@media all and (min-width: 768px) {
  .Recipe li,
  .Recipe p {
    font-size: 1.2rem; } }

.Recipe-ingredients {
  min-width: 300px;
  list-style-type: none;
  padding-left: 0;
  margin: 0; }

.Recipe-ingredients li:last-of-type {
  margin-top: 20px; }

.Recipe-directions {
  padding-left: 20px;
  margin: 0; }

.Recipe-directions p {
  margin: -3px 0 20px 0;
  vertical-align: top; }

.Recipe-ingredient, .Recipe-direction {
  display: inline-block;
  vertical-align: middle;
  line-height: 1.4;
  margin: 0; }

.Recipe-ingredient {
  margin: 3px 0; }

.Recipe-direction {
  margin: 10px 0; }

.ingredients-container {
  display: inline-block;
  vertical-align: top;
  max-width: 400px;
  margin-bottom: 50px; }

@media all and (min-width: 768px) {
  .ingredients-container {
    padding-right: 30px;
    margin-right: 30px;
    border-right: 1px solid #ccc; } }

.directions-container {
  display: inline-block;
  vertical-align: top;
  max-width: 700px; }

.delete-recipe-btn {
  border: none;
  border-radius: 4px;
  padding: 8px;
  color: #f55; }

.Recipe li.add-li-btn {
  background-color: #eee;
  display: inline-block;
  padding: 2px 5px;
  cursor: pointer;
  border-radius: 4px;
  color: #FF6138; }

.delete-li-btn {
  display: inline-block;
  vertical-align: middle;
  padding: 0 4px;
  color: #c33;
  font-weight: bold;
  cursor: pointer; }

.Recipe-ingredient + .delete-li-btn {
  margin-left: 10px; }
