.Card {
  display: inline-block;
  width: 100%;
  border-radius: 7px;
  border: 2px solid #FF6138;
  overflow: hidden;
  margin: 0 0 15px 0;
  break-inside: avoid;
  background-color: #FF6138;
  cursor: pointer; }

.Card-title {
  margin: 0;
  padding: 8px;
  font-size: 1.4rem;
  color: #fff; }

.Card-image {
  width: 100%;
  display: block; }
