.Header {
  text-align: center; }

.Header-title {
  margin: 0;
  display: inline-block;
  vertical-align: middle;
  padding: 15px 40px;
  color: #00A388; }

.add-recipe-btn {
  vertical-align: middle;
  display: inline-block;
  line-height: 1;
  font-size: 3rem;
  position: absolute;
  left: 10px;
  top: 5px;
  cursor: pointer;
  z-index: 1;
  color: #FF6138; }
