.Footer {
    background-color: #ff6947;
    text-align: center;
    position: absolute;
    width: 100%;
    bottom: 0;

    &-copyright {
        margin: 0;
        display: inline-block;
        padding: 15px;
        color: #222;

        & a {
            color: #06b;
            text-decoration: none;
        }
    }
}
