.Footer {
  background-color: #444;
  text-align: center;
  position: absolute;
  width: 100%;
  bottom: 0; }
  .Footer-copyright {
    margin: 0;
    display: inline-block;
    padding: 15px;
    color: #eee; }
    .Footer-copyright a {
      color: #5ef;
      text-decoration: none; }
